.feed {
    display: flex;
    background: #000;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.feed-items {
    color: #fff;
    display: flex;
    margin: 0;
    cursor: pointer;
}