.filter {
    display: flex;
    justify-content: right;
}

.filter-dropdown{
    margin-right: 10px;
    width: 150px;
}

.filter-bubble {
    display:flex;
    background: cyan;
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
}

.filter-bubble-close{
    cursor: pointer;
    margin-left: 5px;
}

.selected-filter{ 
    display: flex;
    /* justify-content: left; */
}