.filter {
    display: flex;
    justify-content: right;
}

div > p {
    margin-right: 10px;
}

.filter-dropdown{
    margin-right: 10px;
    width: 150px;
}

.filter-bubble {
    display:flex;
    background: cyan;
    border: 1px solid cyan;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
}

.filter-bubble-close{
    cursor: pointer;
    margin-left: 5px;
}

.selected-filter{ 
    display: flex;
}

@media only screen and (max-width: 700px) {
    .filter {
        display: block;
        max-width: 100%;
        width: 100%;;
    }

    .filter-dropdown {
        justify-content: space-around;
        margin-bottom: 15px;
    }

    div>p {
        margin-right: 0;
    }
}